doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Pug
    body 
        header.header 
            .header 
        main 
            section.section 
                .main__container 
                    img.main__img(src="../../img/img.png", alt="img")
                .main__section 
                    h2.main__h2 Trinity 43rd Avenue LLC
                    h1.main__h1 Thanks,
                        span.span__john  John!
                    p.main__p Here is your receipt for your rent payment for the month of July. Below are the details. 
                    h6.main__h6 Date 
                        span.main__spann June 30, 2020
                    p.main__pp Total Payment 
                        span.main__spannn $ 1200 USD 
                    p.main__ppp Questions? Contact us at (206) 121-456 or email us at trinityapartment@43st.com
        footer.footer 
            .footer__container 
                
        
       
